body{
    font-family: 'Quicksand', sans-serif;
}

p{
    font-size: 1.3em;
   
}

section{
	width: 100%;
	
}

h2{
    color: black ;

}

h3 {
    font-size: 3.5em;
    font-weight: bold;
}
h4{
    color: white;
    
    
}

#tasaverde{
    background-color: #b0bb3f;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    margin-bottom:50px;

}

#tasadeldia{
    margin-bottom: 50px;
}

#tasadehoy{
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top:10px;
    padding-bottom: 10px;
}


#tasaverde p{
    margin-top: 5px;
    margin-bottom:5px;
    
    
}

.form-control{
    border-radius: 0px;
    border-right-width: medium;
    border-bottom-width: medium;
    
    height: 45px;
}



#cedula{
    width: 70%;
    margin-left: 30%;
    
}
#nacionalidad{
    width: 25%;
    position:absolute;    
    
}

#moneda, #campos1, #campos2, #campos3, #campos4, #cantidadp, #nombresolp, #emailsolp, #cedulasolp, #cantidadb, #nombresolb, #emailsolb, #cedulasolb, #enviarb, #enviarp{
    padding: 5px;
    border-right-width: medium;
    border-bottom-width: medium;
    
}

#botones{
    background-color: #b0bb3f;
    border-radius: 0px;
    height: 45px;
    color:white;
    font-size: medium;
    font-weight: 700;
}

#barrap, #barrac, #barrat{
	background-color: #b0bb3f;
}

#banner{
    color:white;
	position: relative;
	margin-top: 0px;
	top: 0px;
}

#banner img{
	width: 50px;
	height: 50px;
}

#banner .container{
	text-align: center;	
}

#banner .imagenp{
	width: 100%;
	height: auto;
	background-position:center center;
	background-image: url(img/bg.png);
	background-attachment: fixed;
    background-size:cover;
	top:0px;
	height: 600px;
}

#banner p{
	text-align: center;
	color: white;
	
	
}

#calculadora img{
	width:100%;
	height: auto;
}

#banner {
  width: 100%;
  color: white;
  position: relative;
  text-align: center;
  width:100%;
  font-size: 1em;
}

#banner h1{
	font-size: 90px;
	margin-top: 160px;
	}



	#calculadora .container {
	background-image: url("img/bg_dolar.png");
	top:50px; 
	padding:10px;

	}
	
	
	
section .cambio{
	padding-top:100px;
}



#div7, #div0, #div5{
	display: block;	
}

#beneficiario2, #nombre2, #cedula2, #banco2, #cuenta2, #pesos2, #bolivares2, #div4, #div3, #div6, #div1, #div2, #cantidadp, #nombresolp, #emailsolp, #cedulasolp, #cantidadb, #nombresolb, #emailsolb, #cedulasolb, #enviarp, #enviarb{
    
    display: none;

}